@use '@angular/material' as mat;
@include mat.core();

html, body {
    font-family: 'Roboto';
    color-scheme: light dark;
    overflow: hidden;
    // @include mat.theme((
    //     color: mat.$violet-palette,
    //     typography: Roboto,
    // ));
}